{{!-- 
    This page will be called when the user clicks on a property shown in the properties page.
    This page will display a single property that the user clicked on.  
    Also display all the comments that the property has.
    All the property info is stored in the variable named data. So do data.<whatever you want> eg: data.address, etc.
 --}}


<main>
    <div class="studentLinks">  
        <a href="/properties">Properties</a> <br>
        <a href="/students/favourites-list" id="studentElement2">My favourites</a> <br>
        <a href="/sign-out">Sign-out</a>
        <br>
        <br>
    </div>
    <div>
      <div class="row">
      {{#each data.images}}
         <div class="col-md-1 text-center">
            <img src="{{url}}" alt="Property-Image" width="100" height="100">
         </div>
      {{/each}}
      </div>
   </div>
    <dl>
        <dt>Address:</dt>
        <dd>{{data.address}}</dd>

        <dt>Description:</dt>
        <dd>{{data.description}}</dd>

        <dt>Laundry:</dt>
        <dd>{{data.laundry}}</dd>

        <dt>Rent:</dt>
        <dd>{{data.rent}}</dd>

        <dt>Listed By:</dt>
        <dd>{{data.listedBy}}</dd>

        <dt>Email Id:</dt>
        <dd>{{data.emailId}}</dd>

        <dt>Area:</dt>
        <dd>{{data.area}}</dd>

        <dt>Bed:</dt>
        <dd>{{data.bed}}</dd>

        <dt>Bath:</dt>
        <dd>{{data.bath}}</dd>
    </dl>

    <form id="RemoveFromFavourites" method="POST" action="/students/remove-favourites-list/{{id}}">
        <button class="FavouriteButton" id ="removeFavouritesButton" type="submit"> Remove From favorites </button>
    </form>
    
    {{!-- "favourites(\'' + {{emailId}} + '\' , \''+ {{id}} + '\')" --}}
    {{!-- <input onclick="favourites(\'' + {{emailId}} + '\',\'' + {{id}} + '\')" type="button" value="Add to fav" id="favouritesButton"></input> --}}
    {{!-- <input onclick="favourites()" id="favouritesButton" type="button" value="Add to fav"></input> --}}

    <br> 
    <a href="/properties/">Make another search</a>

</main>
<script src="/public/extra.js"></script>