<main>
   <div class="ownerLinks">  
      <a href="/owners/properties-list" id="ownerElement2">My Properties</a>
      <a href="/sign-out">Sign-out</a>
   </div>
   <p>{{msg}}</p>

   <div>
      <div class="row">
      {{#each data.images}}
         <div class="col-md-1 text-center">
            <img src="{{url}}" alt="Property-Image" width="100" height="100">
            <a href="/properties/deleteImage/{{_id}}"><button type="button" class="btn btn-outline-dark">Delete</button></a>
         </div>
      {{/each}}
      </div>
   </div>
   <br>
   <form method="POST" action="/properties/editProperty/{{data._id}}" enctype="multipart/form-data">
   
      <div class="row mb-3">
         <label for="images" class="col-sm-2 col-form-label">
         Images:</label>
         <div class="col-sm-3"> 
            <input type="file" class="form-control" accept="image/*" id="images" name="images" multiple>
         </div>
      </div>

      <div class="row mb-3">
         <label for="address" class="col-sm-2 col-form-label">
         Address:</label>
         <div class="col-sm-3"> 
            <input type="text" class="form-control" id="address" name="address" value="{{data.address}}">
         </div>
      </div>

      <div class="row mb-3">
         <label for="description" class="col-sm-2 col-form-label">
         Description:</label>
         <div class="col-sm-3"> 
            <textarea id="description" class="form-control" name="description" value="{{data.description}}">{{data.description}}</textarea>
         </div>
      </div>

      <div class="row mb-3">
         <label for="laundry" class="col-sm-2 col-form-label">
         Laundry:</label>
         <div class="col-sm-3">
            <select id="laundry" class="form-control" name="laundry">
               <option value="{{data.laundry}}">{{data.laundry}}</option>
               <option value="Not-Included">Not-Included</option>
               <option value="In-Unit">In-Unit</option>
               <option value="Community">Community</option>
            </select>
         </div>
      </div>


      <div class="row mb-3">
         <label for="rent" class="col-sm-2 col-form-label">
         Rent:</label>
         <div class="col-sm-3"> 
            <input type="number" class="form-control" id="rent" name="rent" value="{{data.rent}}">
         </div>
      </div>

      <div class="row mb-3">
         <label for="area" class="col-sm-2 col-form-label">
         Area:</label>
         <div class="col-sm-3">
         <input type="text" class="form-control" id="area" name="area" value="{{data.area}}">
         </div>
      </div>

      <div class="row mb-3">
         <label for="bed" class="col-sm-2 col-form-label">
         Bed:</label>
         <div class="col-sm-3">
            <select id = "bed" class="form-control" name = "bed">
               <option value="{{data.bed}}">{{data.bed}}</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
            </select>
         </div>
      </div>
      
      <div class="row mb-3">
      <label for="bath" class="col-sm-2 col-form-label">
         Bath:</label>
         <div class="col-sm-3">
            <select id = "bath" class="form-control" name = "bath">
               <option value="{{data.bath}}">{{data.bath}}</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
            </select>
         </div>
      </div>


      <input type="submit" class="btn btn-primary" value="Update">
      <a href="/properties/viewProperty/{{data._id}}"><button type="button" class="btn btn-outline-dark">Cancel</button></a>
      <a href="/properties/deleteProperty/{{data._id}}"><button type="button" class="btn btn-outline-danger">Delete Property</button></a>

   </form>

   <div class="mt-5">
      <h2>Comment Section</h2>
        <div class="d-flex row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section" id="new-comments">
                    {{#each data.comments}}
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="User Icon" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{fullName}}</span><span class="date text-black-90">{{dateTime}}</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">{{comment}}</p>
                        </div>
                    </div>
                    {{/each}}
                    <input type="hidden" name="user_id" id="user_id" value="{{data._id}}" />
                    <form action='/properties/property/comments/{{data._id}}' method="POST" id="postComment">
                        <div class="bg-light p-2">
                            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="User Icon" width="40">
                                <label for="comment"></label>
                                <textarea id="comment" name="comment" class="form-control ml-1 shadow-none textarea"></textarea>
                            </div>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                                <button class="btn btn-danger btn-sm shadow-none" type="button" id="cancelButton">Cancel</button>
                            </div>
                            <div id="empty-comment" hidden></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>
 </main>

<script src="/public/extra.js"></script>
<script src="/public/autoComplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8FReQh61YLuQP68YvmQveuU7dY3LVC9w&libraries=places&callback=initAutoComplete" async defer></script>
