<main id="whole-page">
    <h2>Property</h2>
    <div class="studentLinks">  
        <a href="/properties">Properties</a> <br>
        <a href="/students" class="studentElement2">Profile </a> <br>
        <a href="/students/favourites-list" class="studentElement2">My favourites</a> <br>
        <a href="/sign-out" class="studentElement2">Sign-out</a>
        <br>
        <br>
    </div>
    <h3>{{data.address}}</h3>
    <div>
      <div class="row">
      {{#each data.images}}
         <div class="col-md-1 text-center">
            <img src="{{url}}" alt="Property Image" width="100" height="100">
         </div>
      {{/each}}
      </div>
   </div>
    <dl>
        <dt>Address:</dt>
        <dd>{{data.address}}</dd>

        <dt>Description:</dt>
        <dd>{{data.description}}</dd>

        <dt>Laundry:</dt>
        <dd>{{data.laundry}}</dd>

        <dt>Rent:</dt>
        <dd>{{data.rent}}</dd>

        <dt>Listed By:</dt>
        <dd>{{data.listedBy}}</dd>

        <dt>Email Id:</dt>
        <dd>{{data.emailId}}</dd>

        <dt>Area:</dt>
        <dd>{{data.area}}</dd>

        <dt>Bed:</dt>
        <dd>{{data.bed}}</dd>

        <dt>Bath:</dt>
        <dd>{{data.bath}}</dd>
    </dl>

    <div class="mt-5">
      <h2>Comment Section</h2>
        <div class="d-flex row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section" id="new-comments">
                    {{#each data.comments}}
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="User Icon" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{fullName}}</span><span class="date text-black-90">{{dateTime}}</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">{{comment}}</p>
                        </div>
                    </div>
                    {{/each}}
                    
                    <form id="postComment">
                        <div class="bg-light p-2">
                            <input type="hidden" name="user_id" id="user_id" value="{{data._id}}">
                            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="User Icon" width="40">
                                <label for="comment"></label>
                                <textarea id="comment" name="comment" class="form-control ml-1 shadow-none textarea"></textarea>
                            </div>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                                <button class="btn btn-danger btn-sm shadow-none" type="button" id="cancelButton">Cancel</button>
                            </div>
                            <div id="empty-comment" hidden></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <br>

   <form id="addToFavourites" method="POST" action="/students/favourites-list/{{id}}">
        <button class="FavouriteButton" id ="favouritesButton" type="submit"> Add to favorites </button>
    </form>

    <br> 
    <a href="/properties/">Make another search</a>

</main>
<script src="/public/extra.js"></script>