{{!-- 
    This page will display all the properties in the DB.  
    All the properties info is stored in the variable named data. So do data.<whatever you want> eg: data.address, etc.
    Require extra.js file to hide and show My properties or My favourites (Just the name) depending on the usertype (Owner or Student) respectively.
    My properties or My favourites will call route /owners/properties-list or /students/favourites-list respectively
    On individual property click it will call route /properties/{{id}}
 --}}

<main>
    <div class="studentLinks">  
        <a href="/students" id="studentElement1">Profile</a>
        <a href="/students/favourites-list" id="studentElement2">My favourites</a>
        <a href="/sign-out">Sign-out</a>
        <br>
        <br>
    </div>  
    <form class="form-search form-inline" action='search' method='GET'>
        <label class="nav-item active" for="search-input"></label>
        <input class="bg-light form-control form-control-sm" name="search-input" type="text" id="search-input" placeholder="Search...">
    </form>

    <div class="properties">    
        {{#each data}}
        <a href="/properties/property/{{_id}}" class="propertyLink">
            {{#each images}}
            <img src="{{url}}" width="100" height="100">
            {{/each}}
            <p>Address: {{address}}</p>
            <p>Description: {{description}}</p>
            <p>Laundry: {{laundry}}</p>
            <p>Rent: {{rent}} </p>
            <p>Email: {{emailId}} </p>
            <p>Area: {{area}} </p>
            <p>Bed: {{bed}} </p>
            <p>Bath: {{bath}} </p>
        </a> 
        <br>
        {{/each}}
    </div>
</main>
