<main>

    <div class="studentLinks">
        <a href="/students" id="studentElement1">Profile </a> <br>
        <a href="/properties">Properties</a> <br>
        <a href="/sign-out">Sign-out </a>
        <br>
    </div>
    
    <form class="form-search form-inline" action='search' method='GET'>
        <label class="nav-item active" for="search-input"></label>
        <input class="bg-light form-control form-control-sm" name="search-input" type="text" id="search-input" placeholder="Search...">
    </form>
    <br>
    <div class="properties">    
        {{#each data}}
        <a href="/properties/property/{{_id}}" class="propertyLink">
            {{#each images}}
                <img src="{{url}}" width="100" height="100">
            {{/each}}
            <p>Address: {{address}} </p>
            <p>Description: {{description}} </p>
            <p>Laundry: {{laundry}} </p>
            <p>Rent: {{rent}} </p>
            <p>Email: {{emailid}} </p>
            <p>Area: {{area}} </p>
            <p>Bed: {{bed}} </p>
            <p>Bath: {{bath}} </p>
            {{!--Comments?--}}
        </a> 
        <br>
        {{/each}}

    </div>
</main>